<%= form_for([@ad, @ad.start_end_times.build]) do |f| %>
  <%= render '/application/error_messages', object: f.object %>

  <p>
    <%= f.label :'Start Time' %><br>
    <%= f.text_field :start_time, :class => "timepicker"%>
  </p>
  <p>
    <%= f.label :'End Time' %><br>
    <%= f.text_field :end_time, :class => "timepicker"%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
