<!DOCTYPE html>
<html>
  <head>
    <title> Rotating Image Ads :: WVU Libraries </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="title-block">
      <h1> Rotating Image Ads :: Admin Panel</h1>
    </div>

    <div class="user-panel">
      <% if authenticated? %>
         <span>You are logged in.</span>
         <span><%= link_to "Logout", logout_url %></span>
      <% else %>
        <span>You are not logged in.</span>
        <span><%= link_to "Login", login_url %></span>
      <% end %>
    </div>
  </header>

  <nav>
    <ul>
      <li> <a href="/admin"> <%= icon('home')  %> </a></li>
      <li>
        <a href="/admin/users">
        <i class="fa fa-users" aria-hidden="true"></i> Users </a>
      </li>
      <li>
        <a href="/admin/ads">
          <i class="fa fa-picture-o" aria-hidden="true"></i> Ads
        </a>
      </li>
    </ul>
  </nav>

  <!-- <main>
    <%= yield %>
  </main> -->

  <footer>
    <div class="builtBy">
        <span class="built">Built</span>
        <span class="by">By </span>
        <span class="wvu">WVU</span>
        <span class="libs">Libraries</span>
    </div>
  </footer>
</html>
