<!DOCTYPE html>
<html>
  <head>
    <title> Rotating Image Ads :: WVU Libraries </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="title-block">
      <h1> Rotating Image Ads </h1>
    </div>

    <div class="user-panel">
      <% if authenticated? %>
         <%= link_to "Logout", logout_url, :class=>"button login-button" %>
         <%= link_to "Admin", "/admin", :class=>"button admin-button" %>
      <% else %>
        <%= link_to "Login", login_url, :class=>"button logout-button" %>
      <% end %>
    </div>
  </header>

  <main>
    <% flash.each do |key, value| %>
      <div class="alert <%= key %>">
        <%= value %>
        <span class="exit-alert"> <i class="fa fa-times-circle-o" aria-hidden="true"></i> </span>
      </div>
    <% end %>

    <%= yield %>
  </main>

    <footer>
      <div class="builtBy">
          <span class="built">Built</span>
          <span class="by">By </span>
          <span class="wvu">WVU</span>
          <span class="libs">Libraries</span>
      </div>
    </footer>
  </body>
</html>
