<div class="container">
  <div class="well">
    <p>
      <strong> Username: </strong>
      <%= @user.username %>
    </p>

    <p>
      <strong>First Name:</strong>
      <%= @user.firstname %>
    </p>

    <p>
      <strong>Last Name:</strong>
      <%= @user.lastname %>
    </p>

    <div class="actions">
      <div class="submit-button-wrapper">
        <%= link_to icon('pencil-square-o') + ' Edit', edit_user_path(@user), :class=>"edit-button" %>
      </div>
      <div class="cancel-button-wrapper">
        <%= link_to 'Cancel', users_path, :class=>"cancel-button" %>
      </div>
    </div>
  </div>
</div>
