<div class="container">

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th class="mobile-table-hide">Last Name</th>
      <th class="mobile-table-hide">First Name</th>
      <th colspan="2" class="table-action"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td class="mobile-table-hide"><%= user.lastname %></td>
        <td class="mobile-table-hide"><%= user.firstname %></td>
        <td><%= link_to icon('pencil-square-o'), edit_user_path(user), :class=>"edit-button", :title=>"edit user"  %></td>
        <td><%= link_to icon('user-times'), user, :class=>"delete-button", :title=>"delete user", method: :delete, data: { confirm: 'Removing this user, will revoke their permission in the admin side of the application.  Do you want to continue?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to icon('user-plus') + ' New User', new_user_path, :class=>"button" %>

</div>
