<%= form_for(ad) do |f| %>

  <%= render '/application/error_messages', object: f.object %>

  <% if ad.filename.present? %>
    <div class="field">
      <p><img src="/display/<%= ad.id %>"></p>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'File Upload' %><br>
    <%= f.file_field :file, accept: 'image/png,image/gif,image/jpeg,image/svg+xml' %>
  </div>

  <div class="field">
    <%= f.label :image_name %>
    <%= f.text_field :image_name %>
  </div>

  <div class="field">
    <%= f.label :'Is this image being displayed now?' %><br>
    <%= f.select :displayed, [['No', false], ['Yes', true]]%>
  </div>

  <div class="field">
    <%= f.label :'What is the display priority of this Ad?' %><br>
    <%= f.select :priority, [['1 - Low', 1], ['2', 2], ['3', 3], ['4', 4], ['5 - Medium', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10 - High', 10]]%>
  </div>

  <div class="field">
    <%= f.label :'Please provide meaningful alt text.' %>
    <%= f.text_field :alttext %>
  </div>

  <div class="field">
    <%= f.label :'Add a Link' %>
    <%= f.text_field :link %>
  </div>

  <div>
    <%= f.label :'Days of the Week'%><br>
    <%= f.collection_check_boxes(:selected_days, Date::DAYNAMES, :titleize, :to_s) do |day| %>
      <%= day.check_box + day.text%>
    <% end %>
  </div>

  <div class="actions">
    <br><%= f.submit %>
  </div>
<% end %>
