<!-- <table>
  <thead>
    <tr>
      <th>File Name</th>
      <th>Image Name</th>
      <th>Displayed</th>
      <th>Priority</th>
      <th>Alt Text</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td><%= ad.filename %></td>
        <td><%= ad.image_name %></td>
        <td><%= ad.displayed %></td>
        <td><%= ad.priority %></td>
        <td><%= ad.alttext %></td>
        <td><%= ad.link %></td>
        <td><%= link_to icon('eye'), ad %></td>
        <td><%= link_to icon('pencil-square-o'), edit_ad_path(ad) %></td>
        <td><%= link_to icon('trash'), ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<h2> Current Ads </h2>
<ul class="ad-cards">
  <% @ads.each do |ad| %>
  <li>
    <h3> <%= ad.image_name %> </h3>

    <div class="image">
      <img src="/display/<%= ad.id %>" alt="<%= ad.alttext %>">
    </div>

    <div class="image-status">
      <% if ad.displayed %>
        <i class="fa fa-eye" aria-hidden="true"></i> Visible
      <% else %>
        <i class="fa fa-eye-slash" aria-hidden="true"></i> Hidden
      <% end %>
    </div>

    <div class="image-priority">
        <span class="title"> Priority Level: </span>
        <%= ad.priority %>
    </div>

    <div class="alt-text">
      <span class="title"> Alt Text: </span>
        <%= ad.alttext %>
    </div>

    <div class="link">
      <span class="title"> Link: </span>
        <a href="<%= ad.link %>">  <%= ad.link %> </a>
    </div>

    <div class="weekdays">
      <strong>Weekdays:</strong>
      <% if ad.selected_days.length > 1 %>
        <%= ad.selected_days.drop(1).to_sentence %>
      <% else %>
        <span class="em"> Displays all days, if enabled and no other restrictions. </span>
      <% end %>
    </div>

    <div class="display-date-ranges">
      <strong>Dates to Display:</strong>
      <% if ad.start_end_dates.length > 0 %>
      <ul>
        <% ad.start_end_dates.each do |date| %>
            <li>
            <%= date.hr_start_date %> - <%= date.hr_end_date %>
            </li>
        <% end %>
      </ul>
      <% else %>
        <p class="em"> Displays all days, if enabled and no other restrictions. </p>
      <% end %>
    </div>

    <div class="display-time-ranges">
      <strong>Times to Display:</strong>
      <% if ad.start_end_times.length > 0 %>
      <ul>
        <% ad.start_end_times.each do |time| %>
            <li>
              <%= time.hr_start_time %> - <%= time.hr_end_time %>
            </li>
        <% end %>
      </ul>
      <% else %>
        <p class="em"> Displays at all times, if enabled and no other restrictions. </p>
      <% end %>
    </div>

    <div class="actions">
        <%= link_to icon('eye'), ad, :class=>"button show-button", :title=>"show image ad" %>
        <%= link_to icon('pencil-square-o'), edit_ad_path(ad), :class=>"button edit-button", :title=>"edit image ad" %>
        <%= link_to icon('trash'), ad, :class=>"button delete-button", :title=>"delete image ad", method: :delete, data: { confirm: 'Are you sure you want to delete this Ad, it will affect all time and date ranges as well? You may consider making the ad disabled instead.' } %>
    </div>
  </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Ad', new_ad_path, :class => 'button new-ad-button' %>
