<p id="notice"><%= notice %></p>

<p>
  <strong>filename:</strong>
  <%= @ad.filename %>
</p>

<p>
  <img src="data:<%=@ad.content_type%>;base64,<%= @ad.base64_encode%>">
</p>

<p>
  <strong>Image Name:</strong>
  <%= @ad.image_name %>
</p>

<p>
  <strong>Currently Displayed:</strong>
  <%= @ad.displayed %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @ad.priority %>
</p>

<p>
  <strong>Alttext:</strong>
  <%= @ad.alttext %>
</p>

<p>
  <strong>Link:</strong>
  <%= @ad.link %>
</p>

<h2>Date Ranges Ad will Be Displayed</h2>
<% @ad.start_end_dates.each do |start_end_date| %>
  <p>
    <strong>Start Date:</strong>
    <%= start_end_date.start_date %>
  </p>

  <p>
    <strong>End Date:</strong>
    <%= start_end_date.end_date %>
  </p>
<% end %>

<h2>Add Date:</h2>
<%= form_for([@ad, @ad.start_end_dates.build]) do |f| %>
  <p>
    <%= f.label :'Start Date' %><br>
    <%= f.text_field :start_date, :class => "datepicker"%>
  </p>
  <p>
    <%= f.label :'End Date' %><br>
    <%= f.text_field :end_date, :class => "datepicker"%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
